:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), 
    hsl(199, 100%, 33%));
    --gradientSecondColor: linear-gradient(hsl(187, 68%, 67%), 
    hsl(199, 43%, 54%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

.about{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

video{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
}

.aboutContent{
    width: 90%;
    height: max-content;
    padding: 8rem 1.5rem 3rem;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: var(--whiteColor);
    z-index: 100;
}

.cardDiv1{
    width: 90%;
    position: relative;
    padding: 1.8rem 1rem;
    background: var(--whiteColorDeam);
    border-radius: 10px;
    gap: 1rem;
}

.cardDiv2{
    margin-left: auto;
    width: 90%;
    position: relative;
    padding: 1.8rem 1rem;
    background: var(--whiteColorDeam);
    border-radius: 10px;
    gap: 1rem;   
}

span{
    color: var(--blackColor);    
}

.aboutTitle{
    -webkit-text-stroke: 1px var(--blackColor);
}