
/* Author: Daniel */
:root {
  /* COLORS */
  --white: #e9e9e9;
  --gray: #333;
  --blue: #0367a6;
  --lightblue: #008997;
  --insta: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

  /* RADII */
  --button-radius: 0.7rem;

  /* SIZES */
  --max-width: 758px;
  --max-height: 420px;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
}

.contact {
  align-items: center;
  background-color: var(--white);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
  place-items: center;
}

.form__title_contact {
  font-weight: 300;
  margin: 0;
  margin-bottom: 1.25rem;
  font-size: 55px;
}

.contact .form{
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 11rem;
}

.link {
  color: var(--gray);
  font-size: 0.9rem;
  margin: 1.5rem 0;
  text-decoration: none;
}

.text {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 8rem;
  height: 100%;
}

.contact .input {
  background-color: #fff;
  border: none;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.contact .btnl{
  margin: 0.5rem 0;
  margin-left: 120px;
}

.support{
  width: 200px;
  height: auto;
  justify-content: 'center';
  align-items: 'center';
}


.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3.6rem;
}
/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 0;
  z-index: -1;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
  z-index: -1;
}
.github span {
  background-color: #171515;
}
.linkedin span {
  background-color: #0e76a8;
}
.telegram span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3b5998;
}
.italic span {
  background-color: #db5a3c;
}

.icon-button .icon-linkedin {
  color: #0e76a8;
}
.icon-button .icon-github {
  color: #171515;
}
.icon-button .icon-telegram {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3b5998;
}
.icon-button .icon-italic {
  color: #db5a3c;
}

.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-github,
.icon-button:hover .icon-telegram,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-italic {
  color: white;
  z-index: 1;
}

.icon-button a{
  list-style: none;
  margin: 0 10px;
}
.icon-button a{
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.icon-button a:hover {
  color: #ffffff;
}
.icon-button{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.icon-button:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@media screen and (max-width: 769px) {
    .contact .form {
        font-size: 2px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 1rem;
    }

        .contact .form .email_phone {
            font-size: 0px;
        }

    .text {
        background-color: var(--white);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 1rem;
        height: 100%;
    }

    .contact .input {
        background-color: #fff;
        border: none;
        padding: 0.9rem 0.9rem;
        margin: 0.5rem 0;
        width: 100%;
        border: 1px solid black;
        border-radius: 10px;
    }

    .contact .btnl {
        margin: 0.5rem 0;
        margin-left: -5px;
    }

    .support {
        width: 100%;
    }

    .icon-button {
        transform: scale(0.8);
    }

        .icon-button:hover {
            transform: scale(0.9);
            z-index: 1;
        }

    .container__form {
        left: 21ch;
        right: 2%;
    }

    .email_phone {
        transform: scale(20);
    }

    .sendEmail {
        height: 100%;
        left: 1%;
        overflow: hidden;
        top: 0;
        transition: transform 0.6s ease-in-out;
        width: 150%;
        z-index: 100;
    }

    .form__title_contact {
        font-weight: 300;
        margin: 0;
        margin-bottom: 1rem;
        font-size: 32px;
        margin-top: 30px;
    }
}
